@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root{
   --background_black: #272935;
   --background_green_0: #4bb048;
   --background_green_1: #28a745;
   --background_green_2: #29cd4e;
   --background_green_3: #1af54c;
}
